*{
    font-family: Arial, Helvetica, sans-serif;
}
.main-conatiner{
    width: 100vw;
    height: 100vh;
    background:linear-gradient(135deg, #667eea, #764ba2);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.form-conatiner{
    background-color: white;
    width: 100%;
     max-width: 450px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 40px;
    border-radius: 50px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}
h1{
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.name-div,.email-div,.password-div{
    display: flex;
    flex-direction: column;
    gap: 20px;

}
label{
    font-size: 16px;
    font-weight: 600px;
}
input{
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    font-size: 16px;
}
input:focus {
    border-color: #667eea;
    box-shadow: 0 0 0 2px rgba(102, 126, 234, 0.2);
}
button {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #667eea;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
}

button:hover {
    background-color: #5a67d8;
}

@media (max-width: 480px) {
    .form-conatiner {
        padding: 25px;
    }

    h1 {
        font-size: 22px;
    }
}